name: Build Android APK

on:
  push:
    branches:
      - main
      - master

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flet

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.x'
    
    - name: Accept Android Licenses
      run: |
        yes | flutter doctor --android-licenses

    - name: Build APK
      run: |
        yes | flet build apk src --project "GymTracker" --description "My Gym Tracker" --product "GymTracker" --org "com.gymtracker"

    - name: List files (Debug)
      run: ls -R

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: gym-tracker-apk
        path: "**/*.apk"
